@import "node_modules/bulma/bulma";

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

#languages {
    font-size: .8rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

#languages li {
    list-style: none;
}
#languages li.is-active::before {
    content: "\232A\00A0";
}
#languages li.is-active a {
    color: #000000;
}

.tabs ul {
    flex-wrap: wrap;
}

.section.is-small {
    padding: 1.5rem;
}

article.section {
    padding: 1.5rem 0 1.5rem 0;
}

#files a {
    display: block;
}

span.tags {
    display: inline;
}
