@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-tooltip/src/sass/index";
@import "node_modules/@gros/visualization-ui/res/index";

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.tabs {
    overflow: visible;
}

.tabs ul {
    flex-wrap: wrap;
}

.section.is-small {
    padding: 1.5rem;
}

article.section {
    padding: 1.5rem 0 1.5rem 0;
}

#filter label {
    padding: .5em;
}
#filter input {
    margin-right: .25rem;
}

#branches a.dropdown-item span:not(.branch) {
    white-space: normal;
}
#branches, #export-options {
    a.dropdown-item span {
        padding-left: .5ch;
    }
}

#message-prediction {
    .message-header, .message-body {
        color: $dark;
    }
}

.table-icon, .toggle i {
    padding: .75rem .5rem .75rem .25rem;
}

#files a {
    display: block;
}

span.tags {
    display: inline;
}

.tooltip {
    &:not(:hover):not(.has-tooltip-active) {
        &::before, &::after {
            opacity: 0;
            visibility: hidden;
        }
    }
    &::before, &::after {
        transition: opacity .5s ease;
        opacity: 0;
        content: '';
        position: absolute;
    }
    &.has-tooltip-center {
        &::before {
            text-align: center;
        }
    }
}
